body {
    margin: 0;
}

.header-container {
    width: 100%;
    background-color: #fae6b1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 50px;
}

.title-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.menu-button {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #e77a34;
}
