.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    gap: 1px; /* カードの間隔を狭くする */
}

.card {
    margin: 5px; /* カードの間隔を狭くする */
    padding: 10px;
    position: relative;
    cursor: pointer;
    width: 120px; /* カードの幅に合わせる */
    height: 180px; /* カードの高さに合わせる */
}

.card img {
    max-width: 100px;
    height: auto;
}

.button-container {
    text-align: center;
    position: fixed;
    bottom: 200px;
    width: 100%;
}

.selected-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.selected-card-area {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px; /* カードの幅に合わせる */
    height: 180px; /* カードの高さに合わせる */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.selected-card-display {
    display: none; /* カードの名前表示を非表示に */
}

.card-container {
    display: flex;
    gap: 1px; /* カードの間隔を狭くする */
}

.card {
    cursor: pointer;
    width: 120px; /* カードの幅に合わせる */
    height: 180px; /* カードの高さに合わせる */
    margin: 5px; /* カードの間隔を狭くする */
}
