body {
    font-family: Arial, sans-serif;
    background-color: #f0e68c;
    margin: 0;
    padding-top: 100px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 180px;
}

.friend-search {
    background-color: #fffacd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.friend-search h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.friend-search p {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    flex-direction: row; /* アイテムを水平方向に配置 */
    align-items: center; /* アイテムを垂直方向に中央揃え */
}

.search-box label {
    font-size: 16px;
    margin-bottom: 5px;
}

.search-box input[type="text"] {
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* 入力フィールドが利用可能なスペースを取る */
}

.search-box .search_button {
    width: 100px;
    margin-left: 10px; /* 入力フィールドとボタンの間にスペースを追加 */
}

.notice {
    padding-top: 200px;
}
