body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 100px;
    background-image: url(../../images/art4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container {
    color: #fff;
    width: 80%;
    margin: 50px auto;
    padding: 20px; /* 上部余白を追加 */    
    border: 1px solid #ccc;
    border-radius: 5px;   
    background-color: rgba(0, 0, 0, 0.4);
}

.friend-search {    
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;   
}

.friend-search h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.friend-search p {
    font-size: 18px;
    margin-bottom: 10px;
}

.search-box {
    display: flex;
    flex-direction: column; /* アイテムを水平方向に配置 */
    align-items: center; /* アイテムを垂直方向に中央揃え */
}

.search-box label {
    font-size: 16px;
    margin-bottom: 5px;
}

.search-box input[type="text"] {
    padding: 10px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* 入力フィールドが利用可能なスペースを取る */
    margin-left: 20px;
}

.search-box .search_button {
    width: 100px;
    margin-left: 10px; /* 入力フィールドとボタンの間にスペースを追加 */
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
    border: none;
    background-color: #e88a49;
}

.search-box .search_button:hover {
    background-color: #e77a34;
}

.notice {
    padding-top: 200px;
}
.container .friend-info {
    margin: 20px auto;
    text-align: center;
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .friend-info img {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.add_friend_button {
    width: 120px; /* ボタンの幅を設定 */
    height: 30px; /* ボタンの高さを設定 */
    border-radius: 5px; /* ボタンの角を丸くする */
    font-size: 15px; /* ボタンの文字サイズを設定 */
    margin: 10px; /* ボタンの周囲に余白を設定 */
    cursor: pointer; /* マウスオーバー時にカーソルをポインターに変更 */
    border: none; /* ボタンの枠線を削除 */
    background-color:limegreen; /* ボタンの背景色を設定 */
    transition: 0.5s ease; /* ホバー時のトランジション効果を設定 */
}
.add_friend_button:hover {
    background-color:lightgreen; /* ホバー時の背景色を設定 */
}

.container2 {
    text-align: center;
}

.return {
    width: 120px; /* ボタンの幅を設定 */
    height: 30px; /* ボタンの高さを設定 */
    border-radius: 5px; /* ボタンの角を丸くする */
    font-size: 15px; /* ボタンの文字サイズを設定 */
    margin: 10px; /* ボタンの周囲に余白を設定 */
    cursor: pointer; /* マウスオーバー時にカーソルをポインターに変更 */
    border: none; /* ボタンの枠線を削除 */
    background-color:crimson; /* ボタンの背景色を設定 */
    transition: 0.5s ease; /* ホバー時のトランジション効果を設定 */
}

.return:hover {
    background-color: #e77a34; /* ホバー時の背景色を設定 */
}
