body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(../../images/art4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    margin: auto;
    width: 80%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;   
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.friend-list {
    margin-bottom: 20px;
}
.friend-item {
    color: black;
    background-color: #d3d3d3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.friend-item:hover {
    background-color: #c0c0c0;
}
.friend-search{
    font-size: 1rem;
    font-weight: bold;
    background-color: #e88a49;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 30%;
}
.friend-search:hover{
    background-color: #e77a34;
}
.logout {
    font-size: 1rem;
    font-weight: bold;
    background-color:crimson;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 30%;
}
.logout:hover {
    background-color:firebrick;
}
.pending-requests {
    margin-top: 20px;
}

.request-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.request-form {
    display: flex;
    gap: 10px;
}

.accept-button, .reject-button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.accept-button {
    background-color: #4CAF50;
    color: white;
}

.reject-button {
    background-color: #f44336;
    color: white;
}
