body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(../../images/art4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
}
.container {
    margin: auto;
    width: 80%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #fff;   
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.friend-list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.friend-item {
    width: 50%;
    font-weight: bold;
    color: black;
    background-color: #d3d3d3;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.friend-item:hover {
    background-color: #c0c0c0;
}
.friend-search{
    font-size: 1rem;
    font-weight: bold;
    background-color: #e88a49;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 30%;
}
.friend-search:hover{
    background-color: #e77a34;
}
.return {
    font-size: 1rem;
    font-weight: bold;
    background-color:crimson;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    width: 30%;
}
.return:hover {
    background-color:firebrick;
}
.pending-requests {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.request-item {
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.request-form {
    margin-left: 20px;
}

.accept-button, .reject-button {
    padding: 5px 10px;
    cursor: pointer;
}

.accept-button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
.accept-button:hover {
    background-color: darkgreen;
}

.reject-button {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}
.reject-button:hover {
    background-color: crimson;
}
