body {
    /* サイトの外枠の余白を無効化 */
    margin: 0;
    padding: 0;
    background-image: url('/deepimpact/images/art3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* 画面全体の高さを指定 */
    overflow: hidden;
    /* スクロールを無効にする */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    bottom: -250px;
    width: 40%;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.container li:not(:last-child) {
    /* :not(:last-child) に適用することで、基本的にすべて縮めて、最後の1枚だけ幅を保持する */
    min-width: 0;
    /* 最小の重なり幅。枚数が少ないときでもこの幅は重ねる */
    margin-right: -5rem;
}

.container li {
    /* ホバー時アニメーション */
    transition-property: flex-shrink, translate;
    transition-duration: 0.2s;
    /* ホバーしたカードが前面に出ないようにする */
}

.container li:hover {
    flex-shrink: 0;
    translate: 0 -1rem;
}

.container .card {
    /* カードの見た目 */
    width: 10rem;
    background-color: #c00606;
    box-shadow: 0 0 6px black;
    border: 0.5rem white solid;
    border-radius: 0.5rem;
}

.container li img {
    width: 10rem;
}

@media screen and (max-width: 1500px) {
    body {
        height: 100vh;
        width: 100%;
    }
}

.menu- {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
}

/*ポップアップ*/
#menu-click-btn {
    z-index: 1000;
}

#menu-click-btn:hover {
    background-color: #e77a34;
}

#menu-popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 994;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#popup-btn {
    text-align: center;
    background: white;
    position: relative;
    z-index: 995;
    border-radius: 5px;
}

#back-btn {
    background-color: red;
    position: relative;
    z-index: 995;
    border-radius: 5px;
    cursor: pointer;
}

.button_1 {
    border-radius: 5px;
    flex-direction: column;
    /* 縦方向に配置 */
    gap: 20px;
    /* ボタン間の間隔を広げる */
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* ボタンコンテナの背景色 */
    border-radius: 5px;
    cursor: pointer;
}

.button_1 .popup-btn,
.button_1 .back-btn {
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.button_1 .back-btn:hover {
    background: rgb(250, 45, 45);
}

/* 2つ目のポップアップ */
#second-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 996;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* 背景をぼかす */
}

.button_2 {
    flex-direction: column;
    gap: 20px;
    /* ボタン間の間隔を広げる */
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* ボタンコンテナの背景色 */
    cursor: pointer;
}

.button_2 .popup-btn {
    position: relative;
    left: -10px;
    font-size: 1.8em;
    border-radius: 10px;
    cursor: pointer;
}

.button_2 .other-btn {
    position: relative;
    right: -30px;
    width: 150px;
    /* ボタンを30%大きく */
    font-size: 1.8em;
    background-color: rgb(250, 45, 45);
    border-radius: 10px;
    cursor: pointer;
}

/* 警告テキスト */
.warning-text {
    position: relative;
    top: -50px;
    font-weight: bold;
    color: #000;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 1px #000000;
    font-size: 2em;
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
}

.hamburger-close {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 15px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    z-index: 1000;
}

.hamburger-close:focus {
    outline: none;
}

.hamburger-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

button.hamburger-close span {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: white;
    transition: 0.3s ease-in-out;
    top: -4px;
    transition: 0.3s ease-in-out 0.25s;
}

button.hamburger-close span:before,
button.hamburger-close span:after {
    content: "";
    position: absolute;
    background-color: white;
    transition: 0.3s ease-in-out;
    left: 0;
    width: 20px;
    height: 2px;
}

button.hamburger-close span:before {
    top: -5px;
}

button.hamburger-close span:after {
    bottom: -5px;
}

button.hamburger-close.toggle span {
    background-color: transparent;
    transition: 0.3s ease-in-out 0s;
}

button.hamburger-close.toggle span:before {
    top: 0;
    transform: rotate(45deg);
}

button.hamburger-close.toggle span:after {
    top: 0;
    transform: rotate(-45deg);
}

#rule-popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 996;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#rule-popup-inside {
    text-align: center;
    width: 100%;
    max-width: 60%;
    height: 60%;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    z-index: 997;
    overflow: scroll;
    border-radius: 5px;
}

#rule-close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

/*ルール*/
ul {
    list-style: none
}

p {
    font-size: 24px;
    font-weight: bold;
}

/* スクロールバーの幅や高さを狭くしています */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* スクロールバーのつまみの色変更、および角を丸くしています。 */
::-webkit-scrollbar-thumb {
    background: rgb(132, 132, 132);
    border-radius: 5px;
}