body {
    /* サイトの外枠の余白を無効化 */
    margin: 0px;
    padding: 0px;
    background-image: url('/deepimpact/images/art3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    height: 80%;
    margin: 200px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.container li:not(:last-child) {
    /* :not(:last-child) に適用することで、基本的にすべて縮めて、最後の1枚だけ幅を保持する */
    min-width: 0;
    /* 最小の重なり幅。枚数が少ないときでもこの幅は重ねる */
    margin-right: -5rem;
}

.container li {
    /* ホバー時アニメーション */
    transition-property: flex-shrink, translate;
    transition-duration: 0.2s;
    /* ホバーしたカードが前面に出ないようにする */
}

.container li:hover {
    flex-shrink: 0;
    translate: 0 -1rem;
}

.container .card {
    /* カードの見た目 */
    width: 10rem;
    background-color: #c00606;
    box-shadow: 0 0 6px black;
    border: 0.5rem white solid;
    border-radius: 0.5rem;
}

.container li img {
    width: 10rem;
}

@media screen and (max-width: 1500px) {
    body {
        height: 100vh;
        width: 100%;
    }
}

.menu- {
    text-align: right;
}

/*ポップアップ*/
#menu-click-btn {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

#menu-click-btn:hover {
    background-color: #e77a34;
}

#menu-popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 995;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    justify-content: center;
    align-items: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#popup-btn {
    text-align: center;
    background: white;
    position: relative;
    z-index: 995;
    border-radius: 5px;
}

#back-btn {
    background-color: red;
    position: relative;
    z-index: 995;
    border-radius: 5px;
}

.button_1 {
    border-radius: 5px;
    flex-direction: column;
    /* 縦方向に配置 */
    gap: 20px;
    /* ボタン間の間隔を広げる */
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* ボタンコンテナの背景色 */
    border-radius: 5px;
}

.button_1 .popup-btn,
.button_1 .back-btn {
    padding: 15px 30px;
    font-size: 1.5em;
    border-radius: 10px;
}

/* 2つ目のポップアップ */
#second-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 996;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* 背景をぼかす */
}

.button_2 {
    flex-direction: column;
    gap: 20px;
    /* ボタン間の間隔を広げる */
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* ボタンコンテナの背景色 */
}

.button_2 .popup-btn {
    position: relative;
    left: -10px;
    font-size: 1.8em;
    border-radius: 10px;
}

.button_2 .other-btn {
    position: relative;
    right: -30px;
    width: 150px;
    /* ボタンを30%大きく */
    font-size: 1.8em;
    background-color: rgb(250, 45, 45);
    border-radius: 10px;
}

/* 警告テキスト */
.warning-text {
    position: relative;
    top: -50px;
    font-weight: bold;
    color: #000;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 1px #000000;
    font-size: 2em;
    color: rgb(255, 0, 0);
    margin-bottom: 10px;
}