body {
    /* サイトの外枠の余白を無効化 */
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-top: 60px;
    background-image: url(../../images/art5.jpg);
    background-size: cover;
    background-position: center;
}

.main-container {
    text-align: center;
}

.header-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

button {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

button:hover {
    background-color: #e77a34;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #000;
}

/*ポップアップ*/
#index-click-btn {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

#index-click-btn:hover {
    background-color: #e77a34;
}

#index-popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 991;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#index-popup-inside {
    text-align: center;
    width: 100%;
    max-width: 70%;
    height: 70%;
    top: -30px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    z-index: 992;
    overflow: scroll;
    border-radius: 5px;
}

#index-close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

/*text*/
.title {
    overflow: hidden;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.title span {
    display: block;
    transform: translate(100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible,
.title.-visible span {
    transform: translate(0, 0);
}

.sentence {
    overflow: hidden;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    font-family: "Yu Gothic Medium";
    font-size: 16px;
    text-align: center;
}

.sentence span {
    display: block;
    transform: translate(100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.sentence.-visible,
.sentence.-visible span {
    transform: translate(0, 0);
}

/*ルール*/
ul {
    list-style: none
}

p {
    font-size: 24px;
    font-weight: bold;
}

/* スクロールバーの幅や高さを狭くしています */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* スクロールバーのつまみの色変更、および角を丸くしています。 */
::-webkit-scrollbar-thumb {
    background: rgb(132, 132, 132);
    border-radius: 5px;
}

.bell {
    cursor: pointer;
}

/* メッセージボックスのスタイル */
.message-box {
    display: none;
    /* 初期は非表示 */
    position: absolute;
    /* 絶対位置で画像の近くに配置 */
    z-index: 1000;
    width: 250px;
    /* 幅 */
    height: 150px;
    /* 高さ */
    background-color: white;
    border: 1px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    border-radius: 8px;
}

/* メッセージヘッダー */
.message-header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* メッセージコンテンツ */
.message-content p {
    font-size: 12px;
    /* メッセージテキストのサイズを小さく */
    opacity: 0.7;
    /* メッセージテキストの不透明度を下げる */
    margin: 0;
    padding: 20px;
}

/* 閉じるボタン */
.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 14px;
    cursor: pointer;
}

/* ドラッグ用のボタン */
.drag-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: move;
    /* ボタンにドラッグカーソル */
    border-radius: 4px;
    font-size: 12px;
}