body {
    /* サイトの外枠の余白を無効化 */
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-top: 60px;
    background-image: url(../../images/art5.jpg);
    background-size: cover;
    background-position: center;
}

.main-container {
    text-align: center;
}

.header-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

button {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

button:hover {
    background-color: #e77a34;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #000;
}

/*ポップアップ*/
#index-click-btn {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

#index-click-btn:hover {
    background-color: #e77a34;
}

#index-popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 998;
    animation: fadeIn 0.7s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#index-popup-inside {
    text-align: center;
    width: 100%;
    max-width: 60%;
    height: 60%;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    z-index: 999;
}

#index-close {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

/*text*/
.title {
    overflow: hidden;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.title span {
    display: block;
    transform: translate(100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible,
.title.-visible span {
    transform: translate(0, 0);
}

.sentence {
    overflow: hidden;
    transform: translate(-100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
    font-family: "Yu Gothic Medium";
    font-size: 16px;
    text-align: center;
}

.sentence span {
    display: block;
    transform: translate(100%, 0);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.sentence.-visible,
.sentence.-visible span {
    transform: translate(0, 0);
}