body {
    /* サイトの外枠の余白を無効化 */
    margin: 0px;
    padding: 0px;
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    padding-top: 60px;
    background-image: url(../../images/art5.jpg);
    background-size: cover;
    background-position: center;
}

.main-container {
    text-align: center;
}

.header-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    justify-content: center;
}

button {
    background-color: #e88a49;
    color: #000;
    border: none;
    padding: 15px 30px;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

button:hover {
    background-color: #e77a34;
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
    color: #000;
}