body {
    font-family: Arial, sans-serif;
    background-image: url("/images/art6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    align-items: center;
    justify-content: center;
}

.header-container {
    left: -10px;
    width: 2000px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    /* ヘッダーを固定 */
    top: 0;
    /* 画面の上部に配置 */
    z-index: 997;
    /* ヘッダーを他のコンテンツの上に表示 */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.title-image {
    width: 70%;
    max-width: 400px;
    height: auto;
}

.title {
    text-align: center;
}

.title img {
    width: 300px;
}

.container {
    width: 300px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
}

.container h1 {
    text-align: center;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.container input[type="submit"]:hover {
    background-color: #0056b3;
}

.container input[type="button"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #5AB2FF;
    color: #fff;
    cursor: pointer;
}

.container input[type="button"]:hover {
    background-color: #0056b3;
}

.separator {
    height: 1px;
    width: 90%;
    background-color: #ccc;
    margin: 20px;
}

.container .error {
    color: #fff;
}

@media screen and (max-width: 1500px) {
    body {
        height: 80vh;
        width: 100%;
    }
}