@charset "UTF-8";

body {
    /* サイトの外枠の余白を無効化 */
    margin: 0px;
    padding: 0px;
    background-color: #ffff;
    font-family: Arial, sans-serif;
    background-image: url(../../images/art5.jpg);
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* 内容を水平中央揃えに */
    justify-content: center; /* 内容を垂直中央揃えに */
    font-size: 68px;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.back, .create {
    width: 120px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    border: none;
    background-color: #e0e0e0;
}

.create:hover {
    background-color: #adf5ff;
}

.back:hover {
    background-color: #ff6c6c;
}
