@charset "UTF-8";

body {
    /* サイトの外枠の余白を無効化 */
    margin: 0px;
    padding: 0px;
    background-color: #ffff;
    font-family: Arial, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    /* ヘッダーの高さを引いた高さ */
    padding-top: 60px;
    /* ヘッダーの高さ分の余白 */
}

.main-container {
    text-align: center;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

.player-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.player-list li {
    background-color: #d3d3d3;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 24px;
    text-align: left;
}

.host {
    font-weight: bold;
}

.host-label {
    font-size: 18px;
    font-weight: normal;
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.back {
    width: 140px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    border: none;
}

.create {
    width: 140px;
    height: 60px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
    margin: 10px;
    border: none;
}

.create:hover {
    background-color: #adf5ff;
}

.back:hover {
    background-color: #ff6c6c;
}